<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cellscope.cscore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CellscopeLauncher"
            android:label="@string/title_activity_cellscope_launcher"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="CameraActivity"
            android:label="camera_activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity
            android:name=".PhotoLibraryActivity"
            android:label="@string/title_activity_photo_gallery">
        </activity>
        
        <activity
            android:name=".VideoLibraryActivity"
            android:label="@string/title_activity_video_gallery">
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
    </application>

</manifest>