<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.berkeley.cellscope.cscore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.berkeley.cellscope.cscore.MenuActivity"
            android:label="@string/title_activity_cellscope_launcher"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.CameraActivity"
            android:label="camera_activity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.PhotoLibraryActivity"
            android:label="@string/title_activity_photo_gallery"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.VideoLibraryActivity"
            android:label="@string/title_activity_video_gallery"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.VideoActivity"
            android:label="@string/title_activity_video"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />

        <!--  -->
        <!-- Using a dialog will cause the camera to not restart the preview -->
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.OpenCVCameraActivity"
            android:label="@string/title_activity_open_cvcamera"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.PanTrackActivity"
            android:label="@string/title_activity_pan_track"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.cameraui.PinchSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/pinch_control"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.TrackedCameraActivity"
            android:label="TrackCam"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.tracker.InitialCameraActivity"
            android:label="@string/title_activity_initial_camera"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.tracker.CellDetectActivity"
            android:label="@string/title_activity_cell_detect"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.tracker.ViewFieldActivity"
            android:label="@string/title_activity_viewfield"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.tracker.CellTrackerActivity"
            android:label="@string/title_activity_viewfield"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="edu.berkeley.cellscope.cscore.celltracker.tracker.TrackerSettingsActivity"
            android:label="@string/title_activity_tracker_settings" >
        </activity>
    </application>

</manifest>